* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.experiencia {
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 40px 20px;
  margin: 0 auto;
}

.experiencia-titulo {
  max-width: 4ch;
  text-transform: uppercase;
  font-size: 8.7rem;
  word-break: break-all;
  color: rgb(204, 204, 204);
}

.experiencia-texto {
  padding: 10px;
  max-width: 50ch;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

/* Empresa */

.empresa {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  background-color: #eeeeee;
  border-radius: 4px;
}

.empresa-ano {
  position: absolute;
  top: 23px;
  left: -50px;
}

.empresa-titulo {
  margin-bottom: 10px;
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.empresa-texto {
  max-width: 400px;
  line-height: 1.4rem;
  font-size: 0.95rem;
}

.empresa-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.empresa-lista li {
  list-style-type: none;
}
