* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.rodape-section {
  position: relative;
  background-color: black;
}

.rodape {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 120px 40px;
  gap: 100px;
  align-items: center;
}

.rodape-titulo {
  color: rgb(194, 194, 194);
}

.rodape-textos ul {
  list-style-type: none;
}

.rodape-textos li {
  font-weight: bold;
  font-size: 1.7rem;
  padding: 15px;
  color: white;
}

.detalhe {
  margin-left: 100px;
  top: -50px;
  position: relative;
}
